asn1crypto==1.0.0
attrs==19.3.0
beautifulsoup4==4.8.0
beeprint==2.4.10
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
clarifai==2.6.2
Click==7.0
configparser==3.8.1
cryptography==2.7
Django==2.2.1
django-crispy-forms==1.7.2
EasyProcess==0.2.7
elasticsearch==6.3.1
emoji==0.5.4
fake-useragent==0.1.11
Flask==1.1.1
fusepy==3.0.1
future==0.17.1
get==2019.4.13
googleapis-common-protos==1.6.0
grpcio==1.24.1
gunicorn==20.0.4
h11==0.9.0
heroku==0.1.4
idna==2.8
instapy==0.6.8
instapy-chromedriver==2.44
itsdangerous==1.1.0
jellyfish==0.7.2
Jinja2==2.10.3
jsonschema==2.6.0
lib50==2.0.8
MarkupSafe==1.1.1
MeaningCloud-python==1.1.1
numpy==1.16.3
pexpect==4.8.0
plyer==1.4.2
post==2019.4.13
protobuf==3.10.0
psutil==4.3.1
ptyprocess==0.6.0
public==2019.4.13
pycparser==2.19
pyparsing==2.4.7
python-dateutil==1.5
python-telegram-bot==12.1.1
pytz==2019.1
PyVirtualDisplay==0.2.4
PyYAML==5.1
query-string==2019.4.13
regex==2019.8.19
request==2019.4.13
requests==2.22.0
requests2==2.16.0
schedule==0.6.0
scss==0.8.73
selenium==3.141.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
submit50==3.0.2
termcolor==1.1.0
tornado==6.0.3
tqdm==4.36.1
urllib3==1.21.1
urwid==2.1.0
virtualenv==16.5.0
webdriverdownloader==1.0.0.1
Werkzeug==0.16.0
